
.App {
    width: 100vmax;
    height: 100vmin;
    position: absolute;
    background-color: #343434;
    text-align: center;
    display: flex;
    justify-content: space-between;

}

.wrapper-counter {
    width: 350px;
    height: 250px;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: solid 2px aquamarine;
    border-radius: 10px;
    text-align: center;
}

.border {
    border: aquamarine solid 3px;
}

.counter {
    width: 325px;
    height: 130px;
    color: aquamarine;
    margin: 10px;
    border: solid 1px aquamarine;
    border-radius: 10px;
    background-color: #343434;
    text-align: center;
}

.counter_enter {
    color: aquamarine;
    font-size: 20px;
    background-color: #343434;
}


.wrapper-inc-res {
    width: 325px;
    height: 80px;
    border: solid 2px aquamarine;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.wrap-button-inc {
    padding: 15px;
}

.wrap-button-res {
    padding: 15px;
}

.button-inc {
    font-size: x-large;
    border-radius: 5px;
    background-color: aquamarine;
    cursor: pointer;
}

.button-res {
    font-size: x-large;
    border-radius: 5px;
    background-color: aquamarine;
    cursor: pointer;

}

.set-wrapper-counter {
    width: 350px;
    height: 250px;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: solid 2px aquamarine;
    border-radius: 10px;
    text-align: center;
}

.set-counter {
    margin: 10px;
    border: solid 1px aquamarine;
    border-radius: 10px;
    background-color: #343434;
    text-align: center;
    color: aquamarine;
}

.set-input {
    color: aquamarine;
    font-size: 20px;
    background-color: #343434;
    margin: 0;
}

.set-wrapper {
    width: 325px;
    height: 80px;
    border: solid 2px aquamarine;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 10px;
    position: relative;
}

.wrap-button-set {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.button-set {
    width: 60px;
    height: 40px;
    font-size: x-large;
    border-radius: 5px;
    background-color: aquamarine;
    cursor: pointer;
}

.red {
    color: red;
}

.inputError {
    background-color: salmon;
    opacity: 0.5;
}

.incorrect-value {
    color: salmon;
}

.error {
    color: red;
    font-size: 40px;
}
